.footer {
    background-color: $color-lavender;
    padding: 27px 0 31.83px;
    min-height: 480px;
    border-top: 1px solid $color-black;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include vp-800 {
            gap: 80px;
        }
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
        @include vp-800 {
            flex-direction: column;
            gap: 28px;
        }
    }

    &__bottom-wrapper {
        display: flex;
        justify-content: space-between;
        @include vp-800 {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__home-link svg {
        width: 229px;
        height: 136px;
        @include vp-800 {
            width: 150px;
            height: 89px;
        }
    }
}