@font-face {
  font-family: "Anek-Tamil";
  src: url("../../assets/fonts/Anek-Tamil/anek-tamil-v17-latin-700.woff2") format("woff2"),
    url("../../assets/fonts/Anek-Tamil/anek-tamil-v17-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anek-Tamil";
  src: url("../../assets/fonts/Anek-Tamil/anek-tamil-v17-latin-800.woff2") format("woff2"),
    url("../../assets/fonts/Anek-Tamil/anek-tamil-v17-latin-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist-Mono";
  src: url("../../assets/fonts/Geist-mono/geist-mono-v3-latin-regular.woff2") format("woff2"),
    url("../../assets/fonts/Geist-mono/geist-mono-v3-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../../assets/fonts/Geist/geist-v4-latin-regular.woff2") format("woff2"),
    url("../../assets/fonts/Geist/geist-v4-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../../assets/fonts/Geist/geist-v4-latin-700.woff2") format("woff2"),
    url("../../assets/fonts/Geist/geist-v4-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
