// Colors

$color-white:           #ffffff;
$color-black:           #000000;
$color-lavender:        #E9ECFF;
$color-cornflower-blue: #808CFD;

// Typography

$ff-anek: "Anek-Tamil", "Arial", sans-serif;
$ff-geist-mono: "Geist-mono", "Arial", sans-serif;
$ff-geist: "Geist", "Arial", sans-serif;

// Viewport

$vp-tablet: 1280px;
$vp-mobile: 800px;

// Animations

$tr-05s: transform 0.5s ease-in-out;